.row-input{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.filter-btn{
    width: 50%;
}

.wc-date-popover {
    width: 100%;
    position: absolute;
    top: 31px;
    height: auto;
    left: 0;
    transform: translateX(0);
}


